@layout('layout')

@section('body')
  <div class="header">
    <h1> L'API Kebab Quiz </h1>
    <p>
      Importez vos questions et réponses dans votre application en utilisant l'API.
    </p>
  </div>

  <a href="/dashboard">Accéder au dashboard</a>
@endsection